%section.information
  %h1 Spill sjakk med Simen Agdestein og Olga Dolzhikova
  %p I samarbeid med Norges Sjakkforbund gir vi deg mulighet til å slå Simen Agdestein og Olga Dolzhikova i sjakk på Steria sin stand på JavaZone 2014. I flere av pausene kjører vi simultanlynsjakk, alt du trenger å gjøre for å delta er å melde deg på i skjemaet under. Den som gjør det best hver av dagene vinner et signert sjakkbrett. Alle som melder seg på er også med i trekningen av en tur med luftballongen til Steria.
  %p Av alle som har meldt seg på trekker vi ut noen som får lov til å prøve seg. De som blir trukket ut får beskjed i god tid før hver runde (Påmelding fordrer at du har billett til JavaZone). Vi kommer til å kjøre tre runder med simultanlynsjakk hver dag, så det blir mange muligheter.


%section.one-row
  %section.players
    .player
      = image_tag('simen-agdestein.jpg')
      .info
        %p
          %span.bold Simen Agdestein
          er en av Norges aller fremste sjakkspillere. Agdestein har blitt kåret til norgesmester for senior syv ganger og ble i 1985 utnevnt til internasjonal stormester. Han har tidligere vært fotballspiller på eliteserienivå (Lyn) og spilt åtte kamper for fotballlandslaget. Agdestein har vært sjakklærer og -trener for Magnus Carlsen.
    .player
      = image_tag('olga-dolzhikova.jpeg')
      .info
        %p
          %span.bold Olga Dolzhikova
          er en av landets beste kvinnelige sjakkspillere og deltok på det norske landslaget under Sjakk-OL i Tromsø tidligere i år. Dolzhikova har fullført en doktorgradsavhandling i pedagogikk om sjakkundervisning av barn, samt skrevet fire lærebøker i sjakk.

  %section#registration
    .form-container
      %h2 Meld deg på
      %p Fyll ut skjema under for å få muligheten til å spille sjakk mot Simen Agdestein eller Olga Dolzhikova på JavaZone 2014.
      = form_for @registration, method: :post do |f|
        .form-row
          %label.text Navn:
          = f.text_field :name, class: 'text'
        .form-row
          %label.text Firma:
          = f.text_field :company, class: 'text'
        .form-row
          %label.text Telefonnummer:
          = f.text_field :phone, class: 'text'
        .form-row
          %label.text Epost:
          = f.text_field :email, class: 'text'


        = f.submit 'Meld deg på', class: 'btn'



