%section.information
  %h1 Spill sjakk med Agdestein og Dolzhikova
  %p I samarbeid med Norges Sjakkforbund gir vi deg mulighet til å slå Simen Agdestein eller Olga Dolzhikova i sjakk på Steria sin stand på JavaZone 2014. I flere av pausene mellom foredragene kjører vi simultanlynsjakk hvor flere spillere får prøve seg samtidig mot en av disse landslagsspillerne. Alt du trenger å gjøre for å teste ditt sjakknivå er å melde deg på i skjemaet under.

  %p Det blir arrangert seks runder simultanlynsjakk. Tre på onsdag og tre på torsdag, hver runde på 20 minutter. Onsdag fra kl 14:00 og Torsdag fra 12:40. De som blir trukket ut får beskjed på SMS en time før de skal spille. I tilfelle det er noen åpne plasser ved bordet trekker vi en tilfeldig person som står ved standen vår et par minutter før start.

  %p
    Den som gjør det best hver av dagene vinner et signert sjakkbrett. Alle som twitrer med
    = link_to '#steriasjakk', 'https://twitter.com/hashtag/steriasjakk?src=hash', target: '_blank'
    i løpet av konferansen er med i trekningen av en tur med luftballongen til Steria. Hvis du heller vil være tilskuer er det bare å komme bort til standen vår, ta en kaffe og slå av en prat.


%section.one-row
  %section#registration
    .form-container
      %h2 Ta utfordringen!
      %p Fyll ut skjema under for å være med i trekningen om å spille sjakk mot Simen Agdestein eller Olga Dolzhikova på JavaZone 2014.
      = form_for @registration, method: :post do |f|
        .form-row
          %label.text Navn:
          = f.text_field :name, class: 'text'
        .form-row
          %label.text Firma:
          = f.text_field :company, class: 'text'
        .form-row
          .phone
            %label.text Telefonnummer:
            = f.number_field :phone, class: 'text'
          .email
            %label.text Epost:
            = f.email_field :email, class: 'text'
        .form-row.checkbox.going
          = f.check_box :goingToJz, class: 'checkbox'
          %label.checkbox Jeg skal på JavaZone
        .form-row.checkbox
          = f.check_box :want_to_be_contacted, class: 'checkbox', checked: true
          %label.checkbox Jeg godkjenner at steria kan kontakte meg


        = f.submit 'Meld deg på', class: 'btn'

  %section.players
    .player
      = image_tag('simen-agdestein.jpg')
      .info
        %p
          %span.bold Simen Agdestein
          er en av Norges aller fremste sjakkspillere. Agdestein har blitt kåret til norgesmester for senior syv ganger og ble i 1985 utnevnt til internasjonal stormester. Han har tidligere vært fotballspiller på eliteserienivå (Lyn) og spilt åtte kamper for fotballlandslaget. Agdestein har vært sjakklærer og -trener for Magnus Carlsen.
    .player
      = image_tag('olga-dolzhikova.jpg')
      .info
        %p
          %span.bold Olga Dolzhikova
          er en av landets beste kvinnelige sjakkspillere og deltok på det norske landslaget under Sjakk-OL i Tromsø tidligere i år. Dolzhikova har fullført en doktorgradsavhandling i pedagogikk om sjakkundervisning av barn, samt skrevet fire lærebøker i sjakk.



