%section.information
  %h1 JavaZone vs. Simen
  
  %p I samarbeid med JavaZone gir vi deg mulighet til å slå Simen Agdestein i sjakk på Sopra Sterias stand på JavaZone 2015. 

  %p På onsdag blir det arrangert to runder klokkesimultan, her får flere spillere samtidig prøve seg mot landslagsspilleren. Av de påmeldte trekker vi ut 8-12 spillere per runde. De som blir trukket ut får en SMS med klokkeslett i god tid før de skal møte opp. Tidspunkt kan du se under. Den som gjør det best hver av dagene, vinner et signert sjakkbrett.

  %p På torsdag stiller Simen Agdestein til kamp mot hele JavaZone samlet! Hvem er best; JavaZone eller Agdestein? Under spillet må JavaZone stemme fram hvert trekk mot landslagsspilleren. Sjakkspillet vil være tilgjengelig her: (linke til siden/påmelding).  Spillerene som totalt i kampen stemmer på de beste trekkene mot Simen Agdestein vinner et signert sjakkbrett.

  %p
    9. september: klokkesimultan i pausen 12:40–13:00 og 15:20–15:40 
    %br
    10. september: JavaZone vs. Simen Agdestein fra klokken 12:40
    %br

%section.one-row
  %section#registration
    .form-container
      %h2 Ta utfordringen!
      .form
        %p Fyll ut skjema under for å være med i trekningen om å spille sjakk mot Simen Agdestein på JavaZone Oslo 2015.
        = form_for @registration, method: :post do |f|
          .form-row
            %label.text Navn:
            = f.text_field :name, class: 'text'
          .form-row
            %label.text Firma:
            = f.text_field :company, class: 'text'
          .form-row
            .phone
              %label.text Telefonnummer:
              = f.number_field :phone, class: 'text'
            .email
              %label.text Epost:
              = f.email_field :email, class: 'text'
          .form-row.checkbox.going
            = f.check_box :goingToJz, class: 'checkbox'
            %label.checkbox Jeg skal på JavaZone
          .form-row.checkbox
            = f.check_box :want_to_be_contacted, class: 'checkbox', checked: true
            %label.checkbox Jeg godkjenner at Sopra Steria kan kontakte meg


          = f.submit 'Meld deg på', class: 'btn'
      .confirmation.signed_up.hidden
        %p Takk for at du meldte deg på!
        %p Lynsjakk vil foregå i pausene mellom foredragene. Det vil bli trukket ut spillere blant alle påmeldte, og de som får spille vil få en sms ca én time før sjakkrunden starter. Det er viktig at du svarer "ja" på denne smsen og at du møter opp på Sopra Steria sin stand på angitt tidspunkt.
        %p Om du ikke blir trukket ut er du velkommen som tilskuer!


  %section.players
    .player
      = image_tag('simen-agdestein.jpg')
      .info
        %p
          %span.bold Simen Agdestein
          er en av Norges aller fremste sjakkspillere gjennom tidene. Agdestein har blitt kåret til norgesmester for senior syv ganger, flere ganger nordensmester og ble i 1985 utnevnt til internasjonal stormester. Han har tidligere vært fotballspiller på eliteserienivå (Lyn) og spilt åtte kamper for fotballandslaget. Agdestein har vært sjakklærer og -trener for Magnus Carlsen.




