!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Sopra Steria Sjakk
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      %p#thinkstock Thinkstock by Getty
      #steria
        .logo
          = link_to image_tag("sopra-steria-logo.png", :alt => "Sopra Steria"), 'http://www.soprasteria.no', target: '_blank', :title => "Sopra Steria"
        .jslogo
          = link_to image_tag("javazone.png", :alt => "JavaZone"), 'http://2015.javazone.no', target: '_blank', :title => "JavaZone"
      .banner
        .text
          %h1 Tar du utfordringen?
          %h2 Sl책 Simen Agdestein i lynsjakk og vinn signert sjakkbrett!
          %p Hvor: Sopra Steria sin stand p책 JavaZone
          %p N책r: 9. og 10. september
          .sign-up= link_to 'Ta utfordringen!', '#registration'

    .container
      = content_for?(:content) ? yield(:content) : yield

    .footer
      .text
        Noe du lurer p책? Ta kontakt med Kristina Heyerdahl Elfving (
        = link_to 'kelfving@soprasteria.com', 'mailto: kelfving@soprasteria.com'
        \/ 906 09 024 ) eller Sean Scully (
        = link_to 'sean.scully@soprasteria.com', 'mailto: sean.scully@soprasteria.com'
        \/ 992 25 425 )