!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Steria Sjakk
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      %p#thinkstock Thinkstock by Getty
      #steria
        .logo
          = link_to image_tag("steria-logo-white.png", :alt => "Sterialogo"), 'http://steria.no', target: '_blank', :title => "Steria"
        .jslogo
          = link_to image_tag("javazone.png", :alt => "JavaZonelogo"), 'http://javazone.no', target: '_blank', :title => "JavaZone"
      .banner
        .text
          %h1 Tar du utfordringen?
          %h2 Slå Simen Agdestein eller Olga Dolzhikova i lynsjakk og vinn signert sjakkbrett!
          %p Hvor: Steria sin stand på JavaZone
          %p Når: 10. og 11. september
          .sign-up= link_to 'Ta utfordringen!', '#registration'

    .container
      = content_for?(:content) ? yield(:content) : yield

    .footer
      .text
        Noe du lurer på? Ta kontakt med Ole-Anders Wilhelmsen (
        = link_to 'owilhelm@steria.no', 'mailto: owilhelm@steria.no'
        \/ 932 55 245 ) eller Trude Martinsen (
        = link_to 'trum@steria.no', 'mailto: trum@steria.no'
        \/ 988 08 621 )