!!! 5
%html
  %head
    %title Steria Sjakk
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      #steria
        .logo
          = link_to image_tag("steria-logo-white.png", :alt => "Steria"), root_path, :title => "Steria"
      .banner
        .text
          %h1 Skal du på JavaZone?
          %h2 Slå Simen Agdestein eller Olga Dolzhikova i lynsjakk og vinn signert sjakkbrett!
          .sign-up= link_to 'Meld meg på', '#registration'

    .container
      = content_for?(:content) ? yield(:content) : yield

    .footer