!!! 5
%html
  %head
    %title Steria Sjakk
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      %p#thinkstock Thinkstock by Getty
      #steria
        .logo
          = link_to image_tag("steria-logo-white.png", :alt => "Sterialogo"), 'http://steria.no', target: '_blank', :title => "Steria"
        .jslogo
          = link_to image_tag("javazone.png", :alt => "JavaZonelogo"), 'http://javazone.no', target: '_blank', :title => "JavaZone"
      .banner
        .text
          %h1 Tar du utfordringen?
          %h2 Sl책 Simen Agdestein eller Olga Dolzhikova i lynsjakk og vinn signert sjakkbrett!
          %p Hvor: Steria sin stand p책 JavaZone
          %p N책r: 10. og 11. september
          .sign-up= link_to 'Meld deg p책', '#registration'

    .container
      = content_for?(:content) ? yield(:content) : yield

    .footer