!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Sopra Steria Sjakk
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      %p#thinkstock Thinkstock by Getty
      #steria
        .logo
          = link_to image_tag("sopra-steria-logo.png", :alt => "Sopra Steria"), 'http://www.soprasteria.no', target: '_blank', :title => "Sopra Steria"
        .jslogo
          = link_to image_tag("ndc.png", :alt => "NDC"), 'http://www.ndcoslo.com', target: '_blank', :title => "NDC"
      .banner
        .text
          %h1 Tar du utfordringen?
          %h2 Slå Simen Agdestein i lynsjakk og vinn signert sjakkbrett!
          %p Hvor: Steria sin stand på NDC
          %p Når: 18. og 19. juni
          .sign-up= link_to 'Ta utfordringen!', '#registration'

    .container
      = content_for?(:content) ? yield(:content) : yield

    .footer
      .text
        Noe du lurer på? Ta kontakt med Ole-Anders Wilhelmsen (
        = link_to 'ole-anders.wilhelmsen@soprasteria.com', 'mailto: ole-anders.wilhelmsen@soprasteria.com'
        \/ 932 55 245 ) eller Jørgen Brække (
        = link_to 'jorgen.braekke@soprasteria.com', 'mailto: jorgen.braekke@soprasteria.com'
        \/ 415 03 646 )